.main {

}

.main-wrapper {
    background: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.main-content {
  display: flex;
}

.news-content {
    margin-right: 30px;
    width: 100%;
    padding-bottom: 30px;
}



.left-sidebar {
    width: 320px;
    margin-left: auto;
}
