.main {}

.main-wrapper {
    background: #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.main-content {
    display: flex; // flex-wrap: wrap;
    // @include mq-min (768px) {
    //   flex-wrap: nowrap;
    // }
}

.news-content {
    margin-right: 30px;
    width: 100%;
    padding-bottom: 30px;
}

.left-sidebar {
    margin-left: auto;
    width: 320px;
    padding-top: 82px;
}
